.user-card {
  padding: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.user-card-image {
  border-radius: 50%;
}

.user-card-header {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.user-card-bio {
  font-size: 14px;
  color: #333;
}
